<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="api_cache" value="cache/{0}.cache.zip"/>
    
    <add key="wiki_api_url" value="https://wiki.guildwars2.com/api.php"/>
    <add key="wiki_rdf_url" value="https://wiki.guildwars2.com/wiki/Special:ExportRDF/"/>
    <add key="wiki_url" value="https://wiki.guildwars2.com/wiki/"/>
    
    <add key="bulk_output_files" value="Output/bulk.json"/>

    <add key="food_effects_categories" value="Category:Soups;Category:Snacks;Category:Meals;Category:Feasts;Category:Desserts"/>
    <add key="food_effects_error_dir" value="Output/"/>
    <add key="food_effects_output_files" value="Output/food_effects.json"/>
    <add key="food_effects_feast_ids_output_files" value="Output/food_effects.json"/>

    <add key="event_timer_page" value="Widget:Event_timer/script.js"/>
    <add key="event_timer_output_files" value="Output/event_timer.json"/>
    
  </appSettings>
</configuration>