<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="wiki_url" value="https://wiki.guildwars2.com/api.php"/>
    <add key="wiki_rdf_url" value="https://wiki.guildwars2.com/wiki/Special:ExportRDF/"/>
    <add key="api_cache" value="apicache.{0}.zip"/>
    
    <!-- Output paths -->
    <add key="bulk_output_files" value="bulk.json"/>  
  </appSettings>
</configuration>